/* **********************************************************
***   Glitnir Basics Modifications                       ***
*********************************************************** */

/* ***  form elements  *** */

.pgmain fieldset {
	border : 0;
	padding : 0;
}
.pgmain fieldset label {
	display : block;
	font-weight : bold;
	margin-bottom : .2em;
}
.pgmain .fi_bdy textarea {
	width : 99.7%;
	_width : 98.7%;
  min-height : 50px;
}
.pgmain .fi_row .fi_bdy {
	width : 48%;
	margin-right : 1%;
}
.pgmain .fi_txt, .fi_sel, .fi_chk, .fi_rdo, .fi_row {
	margin-bottom : 1em;
}
.pgmain .fi_row {
	clear : both;
	float : left;
	width : 100%;
}
.pgmain .fi_subset {
	width : 48%;
	margin-right : 1%;
	float : left;
	_width : 45%;
  _display : inline;
}
.pgmain .fi_row .fi_txt,
.pgmain .fi_row .fi_sel,
.pgmain .fi_row .fi_chk,
.pgmain .fi_row .fi_rdo {
	float : left;
	margin-right : 10px;
	margin-bottom : 0;
	padding-bottom : 0;
}
.pgmain .fi_row ul.fi_rdo li,
.pgmain .fi_row ul.fi_chk li {
	float : left;
	margin-right : 10px;
}
.pgmain .fi_rdo label,
.pgmain .fi_chk label {
	display : inline;
	font-weight : normal;
}
.pgmain ul.fi_rdo,
.pgmain ul.fi_chk {
	margin : 0;
	padding : 0;
	list-style: none;
}
.pgmain ul.fi_rdo li,
.pgmain ul.fi_chk li {
	margin : 0;
	padding : 0;
	font-size : .92em;
}
.pgmain h4.fi_chk,
.pgmain h3.fi_chk,
.pgmain h2.fi_chk {
	position : relative;
	font-size : 1em;
}
.pgmain h4.fi_chk label,
.pgmain h3.fi_chk label,
.pgmain h2.fi_chk label {
	display : block;
	padding-left : 22px;
	font-weight : inherit;
}
.pgmain h4.fi_chk input,
.pgmain h3.fi_chk input,
.pgmain h2.fi_chk input {
	position : absolute ;
	top : 0;
	left : 0;	
}

.pgmain .fi_req acronym {
	color : #c00;
}
.pgmain .fi_btn {
	text-align:right;
	margin-top: 1.5em;
}




/* ***  topnav (Header navigation)  *** */
.topnav .boxbody {
  _height : 72px;
}
.topnav,
.width1 .topnav {
  width : 100px; 
  right : 220px;
  left : auto;
}
.topnav li.phonebook    { width : 98px; }
.topnav li.phonebook a  { background-image : url(i/topnav/phonebook.png); }



/* ***  disable heading/body rules  *** */

.onecol .pgmain,
.onecol .pgmain .wrap,
.threecol .pgmain,
.threecol .pgmain .wrap,
.width1 .threecol .pgmain,
.pgmain,
.pgmain .wrap,
.pgextra1,
.pgextra1 .wrap {
  padding-top : 0;
  padding-bottom : 0;
  background : 0;
  border: 0;
}


/* ***  main box  *** */

/* ***  rbox (Standard rounded-corner boxes)  *** */
.topbox .c_tl,
.topbox .c_tr,
.topbox .c_br,
.topbox .c_bl {
  position : relative;
  display : block;
  height : 6px;
  font-size : 1px;
  line-height : 0;
  background : url(i/rbox/corners.gif) 0 0 no-repeat;
}
.topbox .c_tr {
  margin : -6px -1px -1px 5px;
  background-position : 100% 0;
}
.topbox .c_tl {
  margin : -6px 0 -1px -1px;
  background-position : 0 0;
  width : 6px;
}
.topbox .c_br {
  margin : -1px -1px -6px 5px;
  background-position : 100% 100%;
  z-index : 1;
}
.topbox .c_bl {
  margin : -1px 0 -6px -1px;
  background-position : 0 100%;
  width : 6px;
  z-index : 1;
}


.topbox {
  position : relative;
  padding-top : 5px;  /* make it look nice by default w/o Javascript */
  border : 1px solid #c9d0d4;
  background : url(i/rbox/head.gif) 0 0 repeat-x;
  margin-bottom : 18px;
  _height:0;min-height:0;/* ie hasLayout fix */
}
.roundbox-active { padding-top : 0; top : 5px; } /* nice-ify when Javascript *is* running */

.topbox .boxhead {
  position : relative;
  top : auto; left : auto; right : auto; bottom : auto;
  margin : -9px 0 0 0;
  border : none;
  border-bottom : 1px solid #c8d0d3;
  font-weight : bold;
  font-size : 1em;
  padding : 11px 31px 9px 9px;
  background : transparent none 100.5% 0 no-repeat;
}
.topbox .boxhead a {
  display : block;
  position : relative;
  margin : -11px -32px -9px -9px;
  padding : 11px 32px 9px 9px;
  text-decoration : none;
  _height:0;min-height:0;/* ie hasLayout fix */
}
.topbox .boxbody {
  margin : 0;
  background : #fff;
  padding : 10px 10px 4px 10px;
  border : 0;
}




/* **********************************************************
***   General Intranet-Specific Elements                  ***
*********************************************************** */


/* ***  breadcrumbs  *** */

.breadcrumbs { position:absolute;right:9999em;left:auto; }



/* ***  qsitesearch (Header search box)  *** */
.qsitesearch {
  position: absolute;
  top: 78px;
  margin-top : -1.2em;
  right: 0px;
  width : 205px;
  color: #fff;
}

.qsitesearch .fi_txt label { position:absolute;right:9999em;left:auto; }
.qsitesearch fieldset {
  border : 0;
  margin : 0;
  padding : 0;
  clear : left;
}
.qsitesearch fieldset h4 { position:absolute;right:9999em;left:auto; }
.qsitesearch .fi_rdo li {
  float : left;
  font-weight : bold;
  padding-top : 5px;
}

.qsitesearch .boxhead { position:absolute;right:9999px; }
.qsitesearch .boxbody {}

.qsitesearch .fi_txt {
  float : left;
  padding : 0;
}

.qsitesearch .fi_txt label {
  display : block;
  font-weight: bold;
  padding-left : 5px;
}
.qsitesearch .fi_txt input {
  margin : 2px 3px 0 0;
  width : 54px;
  width : 139px;
  border : none;
  padding : 6px 7px 4px 7px;
  height : 17px;
  background : #fff url(i/qsearch/field.png) 50% 0 no-repeat;
}
.width1 .qsitesearch .fi_txt input {
  width : 139px;
}

.qsitesearch .fi_txt input:focus,
.qsitesearch .fi_txt input:hover { background-position: 50% -27px; }


.qsitesearch .fi_btn {
  position : absolute;
  top : 0;
  left : 157px;
}
.qsitesearch .fi_btn input {
  /* input-button image replacement */padding:0; margin:0; border:none; line-height:0; font-size:999px; letter-spacing:-99999em; overflow : hidden;
  margin : 4px 0 0 0;
  _margin-top : 6px;
  width : 31px;
  height : 28px;
  background  : url(i/qsearch/button.png) 0 0 no-repeat;
}
*:first-child+html
.qsitesearch .fi_btn input { margin-top : 6px; } /* ie7 hack */

.qsitesearch .fi_btn input:focus,
.qsitesearch .fi_btn input:hover { background-position : 0 -32px; }




/* ***  offices  *** */

.offices .boxbody {
  padding : 0;
}
.offices ul {
  background : #fff;
}
.offices li {
  font-weight : bold;
}
.offices li.parent {
  background-color : #f4f4f4;
}
.offices li em,
.offices li a {
  border-bottom : 1px solid #ddd;
  padding : 4px 10px 4px 30px;
  display : block;
  font-style : normal;
  _height:1px;min-height:0; /* ie hasLayout fix */
}

.offices li em {
  background : url(i/flags14.png) 8px .4em no-repeat;
}

.offices .iceland em    { background-position : 8px 4px; }
.offices .norway em     { background-position : 8px -36px; }
.offices .sweden em     { background-position : 8px -196px; }
.offices .denmark em    { background-position : 8px -156px; }
.offices .uk em         { background-position : 8px -76px; }
.offices .lux em,
.offices .luxembourg em  { background-position : 8px -436px; }
.offices .canada em     { background-position : 8px -236px; }
.offices .china em      { background-position : 8px -396px; }


/* ***  weatherinfo  *** */

.weatherinfo {
  border : 1px solid #B7B7B7;
}

.weatherinfo .boxbody {
  background : #B7B7B7 url(i/weather/head.gif) 0 0 repeat-x;
  margin : -9px 0 0 0;
  padding-left : 1px;
  padding-right : 0px;
}

.weatherinfo .c_tl,
.weatherinfo .c_tr,
.weatherinfo .c_br,
.weatherinfo .c_bl {
  position : relative;
  display : block;
  height : 6px;
  font-size : 1px;
  line-height : 0;
  background : url(i/weather/corners.gif) 0 0 no-repeat;
}

.weatherinfo .c_tr {
  margin : -6px -1px -1px 5px;
  background-position : 100% 0;
}
.weatherinfo .c_tl {
  margin : -6px 0 -1px -1px;
  background-position : 0 0;
  width : 6px;
}
.weatherinfo .c_br {
  margin : -1px -1px -6px 5px;
  background-position : 100% 100%;
  z-index : 1;
}
.weatherinfo .c_bl {
  margin : -1px 0 -6px -1px;
  background-position : 0 100%;
  width : 6px;
  z-index : 1;
}

.weatherinfo h2 {
	font-size: 1.15em;
}
.weatherinfo h2, 
.weatherinfo h3{
	text-shadow: #fff 2px 2px;
	margin: 0;
	padding: 0;
  padding-left : 8px;
	color: #303030;
}
.weatherinfo h3.time{
	margin-top : 12px;
  font-size : 1em;
}

.weatherinfo .top img {
	position: absolute;
	top: 0px;
	right: 40px;
}
.weatherinfo .top .temperature {
	position: absolute;
	top: 25px;
	right: 10px;
	font-size: 1.5em;
}
.weatherinfo .top .temperature span {
	font-size: 0.6em;
}
.weatherinfo .top {
  padding-bottom : 5px;
}

.weatherinfo table {
  width : 100%;
  border-collapse : separate;
}
.weatherinfo table tr td {
	background : #A0A0A0 url(i/weather/middle.png) 0 0 repeat-x;
	border-top : 1px solid #BABABA;
	border-right: 1px solid #BABABA;
	border-left : 1px solid #969696;
	border-bottom : 1px solid #969696;
	text-align : center;
	height : 64px;
}
.weatherinfo table td .day {
	text-transform : uppercase;
	color : #fff;
	font-weight : bold;
}
.weatherinfo table td img {
	
}
.weatherinfo table td .temperature {
	color : #fff;
	font-size : 1.2em;
	font-weight : bold;
}

.weatherinfo a.more {
	font-weight: bold;
	color: #303030;
	text-decoration: none;
	display: block;
	padding: 0px 20px 1px 8px;
	background: url(i/weather/arrow.png) 100% 50%  no-repeat;
	text-align: right;
	float: left;
}
.weatherinfo div.Bottom a:hover{
	text-decoration: underline;
}



/* ***  ourstockprice  *** */

.ourshareprice p {
  position : absolute;
  top : 47px;
  right : 0;
  margin : 0;
  margin-top : -1em;
  text-align : right;
  font-weight : bold;
  white-space : nowrap;
}
.ourshareprice a {
  padding-right : 20px;
  margin-right : 3px;
  background : url(i/glitnirlogo-tiny.gif) 100% 50% no-repeat;
  text-decoration : none;
  color : #303030;
}
.ourshareprice em {
  font-style : normal;
}
.ourshareprice span {
  font-size : .92em;
}
.ourshareprice span.stockdown {
  color : #c00;
}
.ourshareprice span.stockup {
  color : #080;
}





/*  */
.news .item {
  clear : both;
  margin-bottom : 1em;
  overflow : hidden;
  padding-bottom : .8em;
  border-bottom : 1px solid #ddd;
}

.news h2 {
  font-size: 1.2em;
  margin : 0 0 .4em 0;
}
.news img {
  float : right;
  margin : 0 0 .5em .5em;
}
.news .more {
  font-weight : bold;
  padding-right : 15px;
  background : url(i/more.gif) 100% 50% no-repeat;
}

/**/
.recentnews {
  float : left;
  width : 50%;
}
.recentnews h2 {
  font-size: 1.1em;
  margin : 0 0 .4em 0;
  color : #303030;
}
.recentnews .item {
  margin-bottom : .8em;
  padding-right : 18px;
}
.recentnews .item .date {
  display : block;
}
.recentnews .item a {
}

.recentnews .more {
  font-weight : bold;
  padding-right : 15px;
  background : url(i/more.gif) 100% 50% no-repeat;
}


/* events and eventcalendar */

.events {
  float : right;
  width : 174px;
}
.eventcalendar {
  width : 174px;
  float : left;
}
.width1 .events,
.width1 .eventcalendar {
  width : 274px;
}

.events .date {
  display : block;
}
.events li {
  margin-bottom : .5em;
  padding-bottom : .5em;
  border-bottom : 1px solid #ddd;
}

.eventcalendar table {
  width : 100%;
  border : 1px solid #eee;
  margin : 0;
}
.eventcalendar table th {
  color : #303030;
}
.eventcalendar table thead {
  border-bottom : 1px solid #ccc;
}
.eventcalendar table th,
.eventcalendar table td {
  vertical-align : middle;
  text-align : center;
  padding : 2px 0;
  width : 14%;
}

a.cal_nav {
  width : 12px;
  height : 12px;
  overflow : hidden;
  display : block;
  margin : auto auto;
  text-indent : -4000em;
}
a.cal_rew  { background : url(i/eventcal/arrows.gif) 0 0 no-repeat; }
a.cal_back { background : url(i/eventcal/arrows.gif) 0 -40px no-repeat; }
a.cal_next { background : url(i/eventcal/arrows.gif) 0 -120px no-repeat; }
a.cal_fwd  { background : url(i/eventcal/arrows.gif) 0 -80px no-repeat; }


